# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.sqlite3
*.db

# Static & Media
staticfiles/
media/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs & Testing
*.log
.coverage
htmlcov/
.pytest_cache/
